@import "../node_modules/normalize.css/normalize";
@import "vars";
@import "font_face";
@import "material_color";
@import "box_shadow";
@import "../bower_components/gess/src/gess";

html, body{
  font-family: 'eb_garamond12_regular', 'Times New Roman', serif;
  @media #{media_query('big')}{
    font-size: 22px;
  }
}

body{
  box-sizing: border-box;
  @media #{media_query('big')} {
    padding: 1em;
  }
  @media not all and #{media_query('big')} {
    padding: 0;
    h1,h2{
      padding: .5em;
    }
  }
}

ol.questions {
  counter-reset: item;
  @media not all and #{media_query('big')} {
    padding: 0;
    margin: 0;
  }
}

.questions > li{
  @include box_shadow();
  h3{
    display: inline-block;
  }
}

ol.questions > li::before {
  @include box_shadow();
  display: inline-block;
  content: counter(item, upper-roman) " ";
  counter-increment: item;
  box-sizing: border-box;
  padding-left: 1em;
  $width: 4em;
  width: $width;
  margin-left: -$width;
  @media not all and #{media_query('big')} {
    width: 1+$width;
    margin-left: 1-$width;
    text-align: right;
    padding-left: 1.5em;
  }
  @include material_bgcolor(900);
  font-weight: bold;
}

#foo:checked::before,
input[type="radio"] {
  position:absolute;
  clip: rect(0,0,0,0);
  clip: rect(0 0 0 0);
}

%checksymbol {
  display: inline-block;
  height: 1em;
  padding-left: .5em;
  margin-right: 0.5em;
  width: 1em;
  transition: 0.8s ease out;
}

#foo:checked,
input[type="radio"] + label:before {
  content: ' ';
  @extend %checksymbol;
}

input[type="radio"]:checked + label:before {
  content: '✔';
  vertical-align: top;
  @extend %checksymbol;
}

input[type="radio"]:checked + label,
input[type="radio"]:checked + label:hover {
  @include material_bgcolor(500);
  border-radius: 2px;
}

ul.answers{
  list-style: none;
  @media not all and #{media_query('big')} {
    padding: 0;
  }
}

ul.answers > li label {
  padding-right: 1em;
  @media not all and #{media_query('big')} {
    padding: 0;
    font-size: 15px;
    line-height: 2em;
  }
}
ul.answers > li label:hover, ul.answers > li label:focus {
  @include material_bgcolor(300);
  border-radius: 2px;
}

button.submit-test {
  width: 20em;
  text-align: center;
  margin: auto;
  @include material_bgcolor(500);
  @include box_shadow();
  border: map-get($colors, 500);
}

button#button-share-facebook{
  @include material_bgcolor(500);
  @include box_shadow();
  border: map-get($colors, 500);
}

footer#main-footer{
  margin-top: 1em;
  text-align: center;
}

section.result {
  @include box_shadow();
  @include material_bgcolor(100);
  @media #{media_query('big')}{
    width: 70%;
  }
  margin: auto;
  box-sizing: border-box;
  padding: 1em;
}
